{
  "root": true,
  "parser": "@typescript-eslint/pasrer",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": [
      "warn"
    ],
    "@typescript-eslint/no-empty-interface": [
      "error", 
      {
        "allowSingleExtends": true
      }
    ]
  },
  "extens": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/rocemmended"
  ]
}
